# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear

# Eclipse project files
.classpath
.project
.settings/

# IntelliJ IDEA project files
*.iml
.idea/

# NetBeans project files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Maven target directory
target/

# Gradle build directory
build/

# Gradle Wrapper files
.gradle/
!gradle-wrapper.jar

# Temporary files
*.tmp
*.bak
*.swp

# OS-specific files
.DS_Store
Thumbs.db